*  {  
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

button {
    cursor: pointer;
}

.shadow {
    position: fixed; 
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 620px;
    height: 490px;
    border-radius: 10px;
    z-index: 10;
}

.modal-content {
    display: flex;

}

.modal-content-left, .modal-content-right {
    width: 310px;
    height: 400px;
}


.modal-header {
    
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.modal-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 15px;
}
.modal-close {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: 900;
    padding-right: 15px;
    -webkit-transform: rotate(-45deg); //Chrome, Safari
    -moz-transform: rotate(-45deg); //Firefox
    -o-transform: rotate(-45deg); //Opera
    -ms-transform: rotate(-45deg); //IE
    transform: rotate(-45deg); //браузеры без префексов
    font-size: 30px;    
}

.check-friend {
    padding-top: 12px;
    padding-left: 15px;
    
}

.modal-header {
    height: 45px;
    background-color: #ff8663;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-search input {
    background-color: #fff;
    text-decoration: none;
    border: none;
    width: 275px;
    height: 25px;
    border-radius: 12px;
    margin: 9px 11px;
    padding-left: 15px;
}

.modal-search input:focus {
    border-color: none;
}


.modal-search {
    background-color: #f0f0f0;
}

.modal-subtitle {
    margin-top: 14px;
    margin-left: 15px;
    margin-bottom: 5px;
}


li:nth-child(1) {
    border-top: 1px solid #f0f0f0;
}

.modal-content-left > li:nth-child(2)::before {
    background-color: #000;
}


.modal-footer {
    display: flex;
    justify-content: flex-end;
    background-color: #f0f0f0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.friends {
    height: 320px;
    list-style: none;
}
.modal-content-left > .friends {
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height: 0px;
    }
    
    ::-webkit-scrollbar-track {
    background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 3px;
    background-color:#c4c4c4;
    height: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background-color:#c4c4c4;
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height: 0px;
    }
    
    ::-webkit-scrollbar{
    width: 4px;
    }

.friend {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 15px;
    padding: 5px 5px;
    border-bottom: 1px solid #f0f0f0;
    
}

.friend-photo {
    border-radius: 50%;
    border: 1px solid rgb(133, 133, 133);
}

.friend-name {
    margin-left: 5px;
}

.friend-action {
    background-color: transparent;
    border: none;
    margin-left: auto;
    color: #c4c4c4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

.friend-action-remove {
    
    -webkit-transform: rotate(-45deg); //Chrome, Safari
    -moz-transform: rotate(-45deg); //Firefox
    -o-transform: rotate(-45deg); //Opera
    -ms-transform: rotate(-45deg); //IE
    transform: rotate(-45deg); //браузеры без префексов
        
}
.save {
    background-color: #ff8663;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    margin: 7px 8px;
    color: white;
}